.radio-label-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 200ms ease-in-out;
  font-size: 0.9vw;
  cursor: pointer;
}

.radio-input-default {
  display: none;
  &:disabled + .radio-label-default {
    opacity: 0.3;
  }
}
