.menu {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__filtretion {
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
  }
}

.button-filtration-group {
  width: 60%;
}

.sort-chip {
  padding: 0.6vw 1.4vw;
}
