.sort-menu {
  display: inline-flex;
  align-items: center;

  &-img {
    width: 0.6vw;
    height: 0.6vw;
    transition-duration: 200ms;
  }

  span {
    display: flex;
    font-size: 1vw;
    margin-left: 0.5vw;

    p {
      margin-left: 0.5vw;
      color: #fe5f1e;
      font-family: Proxima Nova Thin;
      font-size: 1.1vw;
      text-decoration: underline dotted;
    }
  }

  &:hover &-img {
    transform: rotate(180deg);
  }

  &-select {
    top: 2.1vw;
    left: 70.5vw;
    padding: 0.5vw 0;

    &-button {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: start;
      height: 3vw;
      padding: 0 1.3vw;
      cursor: pointer;

      &:hover {
        background: rgba(254, 95, 30, 0.05);
        color: #fe5f1e;
      }
    }
  }
}
