.button {
  width: auto;
  height: auto;
  border: 0;
  background: transparent;

  padding: 0.6vw 1.5vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Proxima Nova Light;
  font-weight: 700;
  font-size: 1.1vw;
  transition-duration: 200ms;
  cursor: pointer;

  span {
    margin: 0 0.5vw;
  }

  img {
    width: 1vw;
    height: 1vw;
  }

  svg {
    width: 1vw;
    height: 1vw;
  }
}

// ? themes

.outline-light {
  border: 1px solid #eb5a1e;
  color: #eb5a1e;

  &:hover {
    background-color: #fe5f1e;
    color: #ffffff;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.outline-gray {
  border: 1px solid #d3d3d3;
  color: #cacaca;

  &:hover {
    border-color: #282828;
    color: #2c2c2c;
    svg {
      path {
        stroke: #2c2c2c;
      }
    }
  }
}

.colloring-light-deep {
  background-color: #fe5f1e;
  color: #ffffff;
}

.colloring-light {
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);

  &:hover {
    background-color: rgb(254, 221, 200);
    color: rgb(209, 87, 0);
  }
}

.colloring-gray {
  background-color: #f9f9f9;
  color: #2c2c2c;

  &:hover {
    background-color: #282828;
    color: #ffffff;
  }
}

.colloring-dark {
  background-color: #282828;
  color: #ffffff;
}

// ? shapes
.circle {
  border-radius: 50%;
  padding: 0.8vw 0.8vw;
  border-width: 2px;
}

.active {
  background-color: #282828;
  color: #ffffff;
}
