article.product {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  width: 18vw;
  height: 28vw;
  max-height: 28vw;
  margin: 0 0.75vw 2vw 0.75vw;
  cursor: pointer;

  &:hover {
    .img-m {
      transform: translateY(0.3vw);
    }
  }

  main {
    font-size: 1vw;

    .product-title {
      font-size: 1.4vw;
      padding: 0 0 0.5vw;
    }
  }

  footer {
    .product-control-price {
      font-size: 1.4vw;
      width: auto;
    }

    .product-add-chip {
      padding: 0.55vw 1.6vw;
    }
  }
}

.img-m {
  height: 16.5vw;
  width: 16.5vw;

  margin-top: 1vw;
  margin-left: 1vw;
}
