.shoppingcart-items-list {
  .shoppingcart-item {
    flex-direction: column;
    width: 25.6vw;
    padding: 0.4vw 1vw 0.8vw;
    background-color: #ffffff;
    margin-bottom: 0.5vw;

    main {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .item-img {
      width: 4vw;
      height: 4vw;
      margin-right: 1vw;
    }

    &-description {
      position: relative;
      width: 100%;

      .title-button {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }

        &-delete-ico {
          width: 1.2vw;
          height: 1.2vw;
          transform: rotate(45deg);
        }

        &-edit-ico {
          width: 0.8vw;
          height: 0.8vw;
        }
      }

      .description-title {
        position: relative;
        font-size: 1.1vw;

        & + p {
          padding: 0.2vw 0;
        }
      }

      p {
        font-size: 0.8vw;
      }
    }

    .item-footer {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-price {
        font-size: 1.1vw;
      }

      .footer-counter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 25%;
        height: 1.7vw;

        &:hover {
          background-color: #f9f9f9;
          color: #2c2c2c;
        }

        .counter-button {
          width: 40%;
          height: 100%;
          border-radius: 30px;

          &-img {
            width: 1vw;
            height: 1vw;
          }

          &:active {
            background-color: #cecece;
          }
        }
      }
    }

    .item-separator {
      margin: 0.5vw 0 0.8vw;
      height: 2px;
      background-color: rgb(245, 245, 245);
    }
  }
}
