.search-wrapper {
  width: 40%;
  padding: 0.4vw 1vw;
  border-radius: 30px;
  // border: 1px solid rgb(161, 161, 161);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-input {
    width: 90%;
    height: 100%;
    font-size: 0.9vw;
    font-family: Proxima Nova Thin;

    &:focus {
      .search-wrapper {

      }
    }
  }

  &-icon {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.5vw;
  }
}
