.shoppingcart-items-list {
  .shoppingcart-item {
    flex-direction: column;
    width: 25.6vw;
    padding: 0.4vw 1vw 0.8vw;
    background-color: #ffffff;
    margin-bottom: 0.5vw;

    .item-img {
      width: 4vw;
      height: 4vw;
      margin-right: 1vw;
    }

    &-description {
      position: relative;
      top: -0.3vw;
      .description-title {
        position: relative;
        top: 0.3vw;
        font-size: 1.2vw;

        & + p {
          padding: 0.2vw 0;
        }
      }

      p {
        font-size: 0.9vw;
      }
    }

    .item-footer {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-price {
        font-size: 1.2vw;
      }

      .footer-counter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 25%;
        height: 1.7vw;

        &:hover {
          background-color: #f9f9f9;
          color: #2c2c2c;
        }

        .counter-button {
          width: 40%;
          height: 100%;
          border-radius: 30px;

          &-img {
            width: 1vw;
            height: 1vw;
          }

          &:active {
            background-color: #cecece;
          }
        }
      }
    }

    .item-separator {
      margin: 0.5vw 0 0.8vw;
    }
  }
}

.sign {
  width: 0.8vw;
  height: 0.8vw;

  position: relative;
  top: 0.13vw;

  display: inline-flex;
  align-items: center;

  &-img {
    width: 0.7vw;
    height: 0.7vw;
    margin-right: 0.15vw;
  }
}
