.popup {
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  border-radius: 20px;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  background-color: #ffffff;
}
