.shoppingcart-footer {
  background-color: #ffffff;
  box-shadow: rgb(6 5 50 / 10%) 0px -2px 4px;

  padding: 0.8vw 1vw;

  margin-top: 1.6vw;

  &-button {
    width: 100%;

    &-chip {
      padding: 1vw 1vw;
    }
  }
}

.total-price-info {
  font-size: 1vw;
}
