@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../assets/fonts/ProximaNovaT-Thin.eot");
  src: url("../assets/fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/ProximaNovaT-Thin.woff") format("woff"),
    url("../assets/fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Thin Italic";
  src: url("../assets/fonts/ProximaNova-ThinIt.eot");
  src: url("../assets/fonts/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/ProximaNova-ThinIt.woff") format("woff"),
    url("../assets/fonts/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../assets/fonts/ProximaNova-Light.eot");
  src: url("../assets/fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/ProximaNova-Light.woff") format("woff"),
    url("../assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #181818;
}

h1 {
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  color: #181818;
}

p {
  font-weight: 400;
  font-size: 1.3vw;
  color: #7b7b7b;
}

body {
  font-size: 2vw;
  font-weight: normal;
  font-family: Proxima Nova Light, sans-serif;
  margin: 5vw;
  background-color: #ffdf8c;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 4vw 6vw;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
}

.df {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dc {
  flex-direction: column;
}

.sp-b {
  justify-content: space-between;
}

.oh {
  overflow: hidden;
}

.dn {
  display: none;
}
