.ingredient-button {
  position: relative;
  background: transparent;
  display: inline-flex;
  color: #000;
  font-size: 0.85vw;
  opacity: 0.7;

  .ingredient-icon {
    width: 14px;
    height: 14px;
    margin-left: 3px;
  }

  &.ingredient-active {
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0px;
      left: 0px;
      right: 17px;
      border-bottom: 1px dashed rgb(92, 99, 112);
    }
  }

  &.ingredient-unactive {
    text-decoration: line-through;
  }
}
