.shopping-cart {
  background: rgb(243, 243, 247);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25.6vw;
  animation: shopping-cart-animation 300ms ease-in-out;

  &-enter {
    transform: translateX(450px);
  }

  &-enter-active {
    transform: translateX(0px);
    transition-duration: 600ms;
  }

  &-exit {
    transform: translateX(0px);
  }

  &-exit-active {
    transform: translateX(450px);
    transition-duration: 600ms;
  }

  .scroll {
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    .cart-title {
      padding: 0 1vw;
      font-size: 1.4vw;
      margin: 1.2vw 0 0.4vw;
    }

    .slider-title {
      padding: 0 1vw;
      font-size: 1.2vw;
    }
  }
}

@keyframes shopping-cart-animation {
  0% {
    opacity: 1;
    transform: translateX(450px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
