.shopping-cart {
  height: 100%;
  position: relative;
  background-color: rgb(245, 245, 245);
}

.content {
  min-height: 100%;
}

.cart-title {
  padding: 0 0.8vw;
  font-size: 1.4vw;
  margin: 1.2vw 0 0.4vw;
}
