.button {
  width: auto;
  height: auto;
  border: 0;
  background: transparent;
  cursor: pointer;

  padding: 0.8vw 2vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Proxima Nova Light;
  font-weight: 700;
  font-size: 1.3vw;

  img {
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
  }

  svg {
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
  }
}

// ? themes
.outline-light {
  border: 1px solid #eb5a1e;
  color: #eb5a1e;

  &:hover {
    background-color: #fe5f1e;
    color: #ffffff;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.outline-gray {
  border: 1px solid #d3d3d3;
  color: #cacaca;

  &:hover {
    border-color: #282828;
    color: #2c2c2c;
    svg {
      path {
        stroke: #2c2c2c;
      }
    }
  }
}

.colloring-light {
  background-color: #fe5f1e;
  color: #ffffff;
}

.colloring-gray {
  background-color: #f9f9f9;
  color: #2c2c2c;

  &:hover {
    background-color: #282828;
    color: #ffffff;
  }
}

.colloring-dark {
  background-color: #282828;
  color: #ffffff;
}
