.chip-default {
  width: 100%;
  height: auto;
  background: transparent;
  transition: 200ms ease-in-out;

  font-size: 0.9vw;

  display: flex;
  justify-content: space-around;
  align-content: center;

  border-radius: 30px;

  z-index: 0;
}

// ? themes

.outline-light {
  border: 1px solid #eb5a1e;
  color: #eb5a1e;

  &:hover {
    background-color: #fe5f1e;
    color: #ffffff;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.outline-gray {
  border: 1px solid #d3d3d3;
  color: #cacaca;

  &:hover {
    border-color: #282828;
    color: #2c2c2c;
    svg {
      path {
        stroke: #2c2c2c;
      }
    }
  }
}

.colloring-light-deep {
  background-color: #fe5f1e;
  color: #ffffff;

  &:hover {
    background-color: rgb(232, 97, 0);
  }
}

.colloring-light {
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);

  &:hover {
    background-color: rgb(254, 221, 200);
    color: rgb(209, 87, 0);
  }
}

.colloring-gray {
  background-color: #f9f9f9;
  color: #2c2c2c;

  &:hover {
    background-color: #282828;
    color: #ffffff;
  }
}

.colloring-dark {
  background-color: #282828;
  color: #ffffff;
}

// ? shapes
.circle {
  border-radius: 50%;
  padding: 0.8vw 0.8vw;
  border-width: 2px;
}

.active {
  background-color: #282828;
  color: #ffffff;
}
