.slider {
  position: relative;
  width: 100%;
  height: auto;

  &-window {
    width: 100%;
    display: flex;
    // overflow: hidden;

    .all-cards-conteiner {
      display: flex;
      width: 100%;
      height: 100%;
      transition-duration: 400ms;
    }
  }

  &-button {
    cursor: default;
    position: absolute;
    width: 9%;
    height: 100%;
    top: 0;
  }

  &-button-back {
    left: 0vw;
  }

  &-button-forward {
    right: 0vw;
  }

  .slider-arrow {
    opacity: 0;
    width: 1.5vw;
    height: 1.5vw;
  }

  .slider-arrow-back {
    transform: rotate(-90deg);
  }

  .slider-arrow-forward {
    transform: rotate(90deg);
  }

  .visible {
    opacity: 1;
    cursor: pointer;
  }
}
